@tailwind base;
@tailwind components;
@tailwind utilities;


// Navbar related code


.mylists li {
    padding: 0.5rem;
    border-radius: 0.5rem;

    &:hover {
        /* background-color: rgb(197, 216, 197); */
        color: rgb(5, 36, 5);
        cursor: pointer;
    }
}

.myarrow {
    transition: 0.1s ease-in;
}

.arrow:hover .myarrow {
    transform: translateX(30%);
    color: rgb(95, 205, 95);
}

.ham:hover {
    cursor: pointer;
    color: blueviolet;
}



// /Navbar related code - end of line



// test trial

ul#menu-main-menu {
    @apply flex flex-row justify-center;

    li {
        @apply inline px-2;
    }
}

.has_mega_menu ul {
    @apply grid border-2 border-red-500;
}

li.is_separate_column ul {
    @apply flex flex-col;
}



@for $i from 1 through 4 {
  .gridscount-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}




// .has_mega_menu